
@font-face {
  font-family: "kaushan-script";
  src: url("../fonts/kaushan-script.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat-bold_";
  src: url("../fonts/montserrat-bold_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "roboto-l-it";
  src: url("../fonts/roboto-l-it.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "roboto-regular_";
  src: url("../fonts/roboto-regular_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
