.header {
  background-image: url("/../images/bg/picture.png");
  background-size: cover;
  display: block;
}


.container {

  &_a:hover {
    text-decoration: underline;
  }

  &_logo {
    font-family: "montserrat-bold_", sans-serif;
    color: white;
  }
}